
<% if (locals.files.length != 0) { %>
    <% files.map((file) => { %>
        <a href="<%=`/getDetails/${file.id}`%>" ><%= file.fileName%></a>
    <% }) %>
    
<% }else{ %>
    <div><h3>Folder is empty</h3></div>
<% } %>
    