<form
  action="/fileupload"
  id="uploadForm"
  method="post"
  enctype="multipart/form-data"
>
  <input type="file" id="givenFile" name="givenFile" />
  <button class="uploadButton" type="submit">Upload</button>
</form>

<script>
  const uploadForm = document.querySelector("#uploadForm");
  const uploadButton = document.querySelector(".uploadButton");
  uploadButton.addEventListener("click", async (e) => {
    e.preventDefault();
    const formData = new FormData(uploadForm);
    const response = await fetch(`/fileupload/${currentFolderId}`, {
      method: "POST",
      body: formData,
    });
    const data = await response.json();
    if (data.redirectUrl) {
      window.location.href = data.redirectUrl;
    }
  });
</script>
